.main {
    flex: 1;
    min-height: 100vh;
    padding-bottom: 15vh;
    position: relative;
}

.main .nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 23px;
    padding: 20px;
    color: black;

}

.main .nav img {
    width: 40px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.main-container {
    max-width: 900px;
    margin: auto;
}

.main .greet {
    margin: 10px 0px;
    font-size: 50px;
    color: rgb(131, 131, 131);
    font-weight: 500;
    padding: 20px;
}

.main .greet span {
    background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    gap: 15px;
    padding: 20px;
}

.main .card {
    height: 200px;
    padding: 15px;
    background-color: rgb(246, 246, 246);
    border-radius: 10px;
    position: relative;
    cursor: pointer;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

.main .card img {
    width: 35px;
    padding: 5px;
    position: absolute;
    background-color: rgb(225, 226, 226);
    border-radius: 20px;
    bottom: 10px;
    right: 10px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
}

.main .card p {
    color: rgb(1, 1, 1);
    font-size: 15px;
}

.main .card:hover {
    background-color: rgb(210, 203, 203);
}

.main-footer {
    position: absolute;
    width: 100%;
    bottom: 0;
    max-width: 900px;
    padding: 0 20px;
    /* margin:50px auto; */
}

.search {
    
    display: flex;
    align-items: center;
    justify-content: center;
    justify-content: space-between;
    gap: 20px;
    background-color: aliceblue;
    padding: 10px 20px;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
}

.search img {
    width: 24px;
    cursor: pointer;
}

.search input {
    padding: 10px;
    background: transparent;
    outline: none;
    border: none;
    font-size: 18px;
    width: 100%;
}

.search div {
    display: flex;
    align-items: center;
    gap: 15px;
}

.main .footer-text {
    margin: 30px auto;
    text-align: center;
    font-size: 17px;
    font-weight: 300;

}

.result {
    padding: 0px 50px;
    max-height: 70vh;
    overflow-y: scroll;

}

.result::-webkit-scrollbar {
    display: none;
}

.recent-title {
    margin: 40px 0px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.result-text p {
    background-color: #dddddd;
    min-height: 40px;

    width: 70%;

    display: flex;
    align-items: center;
    justify-content: center;

    border-radius: 50px;
    padding: 10px 20px;

    word-wrap: break-word;

    overflow-wrap: break-word;
    white-space: normal;

    text-align: center;

}

.result-text {
    display: flex;
    align-items: start;
    gap: 20px;
}

.loader {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.result-data p{
    font-size: 20px;
    font-weight: 300;
    line-height: 1.8;

}
.loader{
width:100%;
display: flex;
flex-direction: column;
gap: 10px;
}
.loader hr{
    border-radius: 4px;
    border: none;
    background-color: #ff5546;
    background: linear-gradient(to right,#9ed7ff,#ffffff,#9ed7ff);
    height: 20px;
    background-size: 800px 50px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    animation: loader 3s infinite linear;
    -webkit-animation: loader 3s infinite ;
}

@keyframes loader {
    0% {
        background-position: -800px 0px;
    }
    100%{
        background-position:800px 0px;
    }
    
}

@media (max-width:600px){
    .main-footer input{
        flex:none;
        width:150px;
    }
    .main-footer img{
        width:20px;
    }
    .search{
        padding: 5px 10px;
    }
    .search div{
        gap:5px;
    }
}